.section {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 1rem 0;
}

.section label {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--letrasclaro);
    transition: 500ms;
    transition-property: all;
}

.section input {
    padding: 1rem;
    background-color: var(--oscuro);
    color: var(--claro);
    border-radius: 0.5rem;
    border: none;
    transition: 500ms;
    transition-property: all;
}

@media (min-width: 768px) {
    .section label {
        font-size: 1.5rem;
        transition: 500ms;
        transition-property: all;
    }

    .section input {
        font-size: 1.5rem;
        transition: 500ms;
        transition-property: all;
    }
}